body,
header,
nav {
  display: flex;
}

header,
nav {
  align-items: center;
}
body {
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
nav {
  justify-content: space-around;
}

.descr,
.cont {
  padding: 0 20px 0px 20px;
}
p {
  text-align: left;
  font-size: 18pt;
}

input,
textarea {
  border: 0;
  background: #ccc;
  font-size: 24pt;
  padding: 3px;
}

#alr {
  text-align: right;
}

#but {
  color: #fff;
}

@media screen and (min-width: 1000px) {
  body {
    width: 1000px;
    height: 1370px;
  }

  header {
    width: 900px;
    height: 250px;
    margin-top: 50px;
    justify-content: space-around;
  }

  .logo {
    width: 230px;
    height: 230px;
  }

  .tit {
    width: 590px;
    height: 224px;
  }

  nav {
    width: 900px;
    height: 80px;
  }

  .menu {
    width: 179px;
    height: 70px;
  }

  main {
    width: 900px;
    height: 690px;
    display: flex;
    flex-wrap: wrap;
  }

  .wrap1 {
    width: 900px;
    height: 370px;
    display: flex;
  }

  .descr {
    width: 450px;
    height: 370px;
    text-align: center;
  }

  .wrap2 {
    width: 900px;
    height: 320px;
    display: flex;
  }

  .cont {
    width: 900px;
    height: 320px;
  }

  footer {
    width: 900px;
    height: 250px;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .descr,
  .cont,
  footer {
    box-sizing: border-box;
  }

  body {
    width: 500px;
    height: 2200px;
  }

  header {
    width: 460px;
    height: 360px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    width: 162px;
    height: 163px;
  }

  .logo img {
    width: 162px;
  }

  .tit {
    width: 450px;
    height: 171px;
  }

  .tit img {
    width: 450px;
  }

  nav {
    width: 460px;
    height: 285px;
    flex-direction: column;
  }

  .menu {
    width: 179px;
    height: 70px;
  }

  main {
    width: 460px;
    height: 1180px;
  }

  .wrap1 {
    width: 460px;
    height: 700px;
  }

  .descr {
    width: 460px;
    height: 350px;
    text-align: center;
  }

  .wrap2 {
    width: 460px;
    height: 340px;
  }

  .cont {
    width: 460px;
    height: 170px;
  }

  footer {
    width: 460px;
    height: 360px;
    text-align: center;
    padding: 20px 0px 20px 0px;
  }
}
