* {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

.grid_cont {
  display: grid;
  grid-auto-rows: 250px;
  grid-gap: 2px;

  grid-template-areas:
    'a'
    'b'
    'c'
    'e'
    'e'
    'd'
    'f'
    'g'
    'h'
    'i'
    'j'
    'k';
}

.cell1 {
  grid-area: a;
  background: url('../img/1.jpg');
  background-size: cover;
}
.cell2 {
  grid-area: b;
  background: url('../img/2.jpg');
  background-size: cover;
}
.cell3 {
  grid-area: c;
  background: url('../img/3.jpg');
  background-size: cover;
}
.cell4 {
  grid-area: d;
  background: url('../img/4.jpg');
  background-size: cover;
}
.cell5 {
  grid-area: e;
  background: url('../img/5.jpg');
  background-size: cover;
}
.cell6 {
  grid-area: f;
  background: url('../img/6.jpg');
  background-size: cover;
}
.cell7 {
  grid-area: g;
  background: url('../img/7.jpg');
  background-size: cover;
}
.cell8 {
  grid-area: h;
  background: url('../img/8.jpg');
  background-size: cover;
}
.cell9 {
  grid-area: i;
  background: url('../img/9.jpg');
  background-size: cover;
}
.cell10 {
  grid-area: j;
  background: url('../img/10.jpg');
  background-size: cover;
}
.cell11 {
  grid-area: k;
  background: url('../img/11.jpg');
  background-size: cover;
}

section a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

section h3 {
  color: #fff;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

section {
  transition: 0.3s;
}

section:hover {
  filter: brightness(80%);
}

@media (min-width: 500px) {
  .grid_cont {
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      'a b'
      'c e'
      'd e'
      'f g'
      'h i'
      'j k';
  }
}

@media (min-width: 1000px) {
  .grid_cont {
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
      'a b c'
      'd e f'
      'g e h'
      'i j k';
  }
}
