.overflow_visible,
.overflow_hidden,
.overflow_scroll,
.overflow_auto {
  width: 150px;
  height: 70px;
  border: 1px solid black;
}

.overflow_visible {
  overflow: visible; /* то же, что overflow не задан */
  float: left;
}

.overflow_hidden {
  overflow: hidden;
  float: left;
  margin-left: 350px;
}

.overflow_scroll {
  overflow: scroll;
  float: left;
  margin-left: 50px;
}

.overflow_auto {
  overflow: auto;
  float: left;
  margin-left: 50px;
}
